<html>
<head>
  <style>
    body {
      font-family: monospace;
      color: #ffff00;
      background-color: #121212;
      font-size: 20px;
      padding: 10px 10px;
    }

    h1 {
      font-family: monospace;
      font-size: 70px;
    }

    h2 {
      font-size: 40px;
    }

    h3 {
      font-size: 30px;
      margin-bottom: -10px;
    }

    a {
      color: #e600e6;
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline dashed #e600e6 1px;
    }
  </style>
</head>

<body>
    <center>
        <h1>Kirino</h1>

<!--
        <h3>
            <a href="https://docs.kirino.io">Docs</a> -
            <a href="https://docs.kirino.io/install">Install</a>
        </h3>
-->
    </center>

    <br><hr>

    {{ . }}

    <br><br><br><hr>

    <center>
        <p>
          (c) 2021-2022 Lincoln Williams
        </p>
    </center>
</body>
</html>